


{% extends "base.html" %}

{% block title %}蟒穴{% endblock title %}

{% block content %}

    <h1 class="templatemo-header">服务</h1>

    <div class="row">
        <article class="templatemo-item col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h2>python教学</h2>

            <div class="text-center">
                <i class="fa fa-cloud templatemo-service-icon"></i>
            </div>
            <p>目前可以教django, scrapy, odoo, flask 等python模块, 帮助你快速学习python开发.</p>
        </article>
        <article class="templatemo-item col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h2>服务器部署</h2>

            <div class="text-center">
                <i class="fa fa-database templatemo-service-icon"></i>
            </div>
            <p>django server, LAMP等</p>
        </article>


    </div>
    <div class="row">

        <a href="https://shop66965256.taobao.com/" target="_blank"></a>
    </div>
{% endblock content %}


